/* IT21268144 | Jayasinghe J.A.M.P*/
body{
  background-image: url("../img/image1.jpg");
  height:100%;
  background-size:cover;
  background-position:center;  
}

.Register-page{
  width:450px;
  padding:10% 0 0;
  margin:auto;
}

.register-form{
  position:relative;
  
  top:40px;
  right:50px;
  z-index:1;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  background:white;
  width:600px;
  margin:0 auto 100px;
  padding:60px;
  text-align:center;
  
}

.form input{
	font-family:sans-serif;
	background:#f2f2f2;
	border:0;
	margin:0 0 10px;
	padding:20px;
	font-size:16px;
}

#submitbtn{
  font-family: sans-serif;
  text-transform:uppercase;
  outline:0;
  background:#4CAF50;
  width:50%;
  border:0;
  padding:15px;
  color:#FFFFFF;
  font-size:14px;
  cursor:pointer;
  
}
.form submitbtn:hover,.form submitbtn:active{
	background:#43A047;
}

#title{
      margin-top: -10px;
      margin-bottom: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 22;
      color: rgba(36, 36, 36, 0.859);
      text-align: center;
  }
